
    <mat-sidenav mode="side" opened class="container-sidenav">
        <div>   
            <button mat-icon-button >
                <mat-icon [routerLink]="'./people'">home</mat-icon>
              </button>
              <button mat-icon-button >
                <mat-icon [routerLink]="'./groups'">group</mat-icon>
              </button>
              <button mat-icon-button [routerLink]="'./results'">
                <mat-icon>checklist</mat-icon>
              </button>
        </div>
    </mat-sidenav>
