<mat-card >
  <div>
    <h2>Participants</h2>
    <div class="subheading-2">
        Enter the name of people that whould be on the draw, to continue without groups press next
    </div>    
  </div>
  <div class="columns">

    <div class="column-input">
      <form class="form" [formGroup]="nameForm" #formDirective="ngForm" (ngSubmit)="onSubmit(nameForm, formDirective)" >
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Participant name</mat-label>
          <input type="text" matInput id="name" formControlName="name" >
          
          <mat-error *ngIf="nameForm.controls.name.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-mini-fab type="submit">
          <mat-icon>add</mat-icon>
        </button>    
      </form>
      

    </div>
    <div class="column-people">
      <mat-card >
        <mat-card-subtitle>Participants</mat-card-subtitle>
        <mat-list role="list">
          <mat-list-item *ngFor="let person of people" role="listitem">{{person.name}}</mat-list-item>
        </mat-list>
      </mat-card>
        
    </div>
      

  </div>

  <div class="buttons" >
    <button mat-button (click)="next()">
      Next
    </button> 
  </div>
</mat-card>

