.form{
    display: flex;
    justify-content: space-around;
}
.columns{
    display: flex;
    

    justify-content: space-around;
}
.column-people{
    width:40%; 
    display:inline-block;
    
}
.list{
    text-align: center;
    
}
.input-field{
    width:60%;
}

.subheading-2{
    margin-bottom: 30px;
}
.column-input{
    width:60%; 
    display:inline-block;
    
}
.buttons{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    bottom: 10px;
    margin: 3px;
    margin-top: 15px;
    color: aliceblue;
    gap: 10px;
}
.mat-button.mat-primary .mat-button-focus-overlay .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, 
.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-button, .mat-icon-button, .mat-stroked-button {
    background-color: #3a7e44;
  }
  td{
    text-align: center;
  }
