<div class="home-content">
    <div class="image">
        <img src="/assets/santa-claus.png" alt="image">
    </div>
    <div class="center-content">
        <div >
            <h1 class="mat-display-1 center">
                Welcome to Secret Santa 
            </h1>
            <h1 class="mat-subheading-1 desc center">
                The application performs the draw for the exchange of gifts for a better organization and transparency
            </h1>

            <h1 class="headline center">
                Happy holidays
            </h1>
        </div>
        <button mat-button class="center" color="altern" [routerLink]="'/main'">
            Start
        </button>

    </div>
</div>